.card-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    border-radius: 1rem;
    transition: .2s;
}
.card:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1),
    2px 2px 50px rgba(0, 0, 0, 0.1);
}
.card>.fa-procedures{
    color: var(--primary-color);
    margin: 0 1rem;
    font-size: 1.5rem;
}
.card>.fa-users{
    color: #64c0f9;
    margin: 0 1rem;
    font-size: 1.5rem;
}

.card>.fa-archive{
    color: #f19567;
    margin: 0 1rem;
    font-size: 1.5rem;
}

.card>.fa-ambulance{
    color: #ec5d84;
    margin: 0 1rem;
    font-size: 1.5rem;
}

.card>.col{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 1rem;
}

.col>h1{
    font-size: 1.4rem;
    margin: 0;
    font-weight: bolder;
    color: black;
}

.col>p{
    margin: 0;
}
.menu{
    cursor: pointer;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(-0.5rem, -1rem);
}
.menu:hover{
    background: var(--primary-background-color);
    color: black;
}